# Node.js
node_modules/

# Logs
*.log
logs/

# Environment Files
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and coverage
dist/
build/
coverage/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Docker files
docker-compose.override.yml

# npm package lock
package-lock.json

# Yarn package lock
yarn.lock

# Optional npm cache directory
.npm/